.Vbox-background
{
/* code from :https://stackoverflow.com/questions/59802527/set-a-background-image-for-a-hbox-javafx*/
-fx-background-image: url("file:///C:/RescueCats/src/main/resources/images/sky.jpg");
-fx-background-repeat: no-repeat;
-fx-background-position: center;
-fx-background-size: cover;
}

.scroll-pane
{
-fx-background:transparent;
-fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-bar {
    -fx-background-color: transparent;
    -fx-color:blue;
}

.stat_titles
{
-fx-font-weight:bold;
-fx-font-size:20px;
-fx-font-family:"Verdana";
}
.back-btn
{
    -fx-background-radius:20;
    -fx-background-color: #063de3;
    -fx-border-radius:15;
    -fx-border-color: white;
    -fx-border-width:3px;
    -fx-text-fill:white;
    -fx-cursor:hand;
    -fx-pref-width:200;
    -fx-font-weight:bold;
    -fx-font-size:14px;
    -fx-font-family:"Verdana";
}